@import '../App.css';

.attribution {
  font-size: 12px;
  text-align: center;
  color: var(--Light-Cyan);

}

.attribution a {
  text-decoration: none;
  color: var(--Neon-Green)
}

.attribution a:hover {
  filter: brightness(1);
}